

<div class="jumbotron" style="margin-bottom: 3 ">
	<div class="container">
        <h1 style="font-family:inherit">세탁실 관리</h1>
    </div>
</div>

<div class="container">
<hr>
<p>
  <h3>모든 세탁실 사용/예약 현황</h3>
</p>
<hr>

<%= form_tag search_studies_path, :method => :get do %>
<%= text_field_tag :query, params[:query] %> <%= submit_tag "Search!" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>no</th>
      <th>사용자</th>
      <th>역할</th>
      <th>세탁기번호</th>
      <th>세탁기 사용 및 예약 시간</th>
      <th>내용</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @studies.each do |study| %>
      <tr>
        <td><%= study.category.category_name %></td>
        <td><%= study.study_name %></td>
        <td><%= study.intro %></td>
        <td><%= study.goal %></td>
        <td><%= study.curriculem %></td>
        <td><%= study.max_number %></td>
        <td><%= study.size %></td>
        <td><%= study.status %></td>
        <td><%= link_to 'Show', category_study_path(study.category, study) %></td>
        <td><%= link_to 'Edit', edit_category_study_path(study.category, study) %></td>
        <td><%= link_to 'Destroy', [study.category, study], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>